
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Match any files and folders in the 'releases' path
    match /releases/{userId}/{allPaths=**} {
      // Allow read, write, delete for the authenticated user who owns this folder
      allow read, write, delete: if request.auth != null && request.auth.uid == userId;
    }

    // Match any files and folders in the 'releaseArtwork' path
    match /releaseArtwork/{userId}/{fileName} {
      // Allow write access for the authenticated user who owns this folder
      allow write: if request.auth != null && request.auth.uid == userId;
      // Allow read access for any authenticated user (or public if needed, adjust accordingly)
      // For now, let's keep it to authenticated users to read any artwork
      allow read: if request.auth != null;
    }

    // Match any files and folders in the 'profileImages' path
    match /profileImages/{userId}/{allPaths=**} {
      // Allow read, write, delete for the authenticated user who owns this folder
      allow read, write, delete: if request.auth != null && request.auth.uid == userId;
    }

    // Deny all other access by default
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
